#divWeatherMain {
  display: block;
  border-radius: 10px;
  width: 280px;
  height: 260px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 7, 42, 1) 75%,
    rgb(8, 10, 63) 100%
  );
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#divWeatherDetails {
  display: block;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 7, 42, 1) 75%,
    rgb(8, 10, 63) 100%
  );
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.weatherWidgetRow {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.sun {
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow(1px 1px 10px yellow);
}

.moon {
  margin-top: 10px;
  color: white;
  filter: drop-shadow(1px 1px 10px white);
}

.cloudDiv {
  margin-top: -40px;
}

.cloud {
  color: rgb(104, 175, 197);
  filter: drop-shadow(1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement {
  from {
    margin-left: -55px;
  }
  to {
    margin-left: 65px;
  }
}

/* * --------- 8 day weather design --------- */
.weather-card {
  display: block;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgb(33, 24, 71) 0%,
    rgb(57, 65, 175) 50%,
    rgb(254, 208, 99) 95%
  );
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px; /* Add margin for spacing between cards */
}

.weather-card .cloudDiv {
  margin-top: -40px;
}

.weather-card .cloud {
  color: rgb(111, 210, 239);
  filter: drop-shadow(1px 1px 5px rgb(121, 208, 235));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement {
  from {
    margin-left: -55px;
  }
  to {
    margin-left: 65px;
  }
}

.semitransparent-bg {
  background: linear-gradient(
    45deg,
    rgba(255, 186, 133, 0.2) 10%,
    rgba(56, 21, 171, 0.2) 65%
  );
  border-radius: 10px;
  padding: 10px;
}
