/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(to bottom, #87cefa, #9ef3b6);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333; /* Text color, adjust as needed for readability */
}
